@page "/"
@model Proiect_Magazin.Pages.Clothes.IndexModel

@{
    ViewData["Title"] = "Home";
}

<h1>My Clothes Store</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
 <div class="form-actions no-color">
 <p>
 Find by Cloth Name:
 <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">   
                @Html.DisplayNameFor(model => model.Cloth[0].Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cloth[0].Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cloth[0].Designer.DesignerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cloth[0].Size.SizeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cloth[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cloth[0].Collection.CollectionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cloth[0].ClothMaterials)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ClothD.Clothes) {
            string selectedRow = "";
            if (item.ID == Model.ClothID)
            {
                selectedRow = "table-success";
            }

            <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designer.FirstName)
                    @Html.DisplayFor(modelItem => item.Designer.LastName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size.SizeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Collection.CollectionName)
            </td>
                <td>
                    @{
                        foreach (var material in item.ClothMaterials)
                        {
                            @material.Material.ID @: @material.Material.MaterialName <br />
                        }
                    }
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
