@page "/"
@model Proiect_Magazin.Pages.Clothes.IndexModel

@{
    ViewData["Title"] = "Home";
}

<h1>My Clothes Store</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cloth[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cloth[0].Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cloth[0].Designer.DesignerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cloth[0].Size.SizeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cloth[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cloth[0].Collection.CollectionName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cloth) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designer.DesignerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size.SizeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Collection.CollectionName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
